<!DOCTYPE html>
<html>
    <head>
        <title>Internal Server Error</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"  content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Importing Bootstrap --> 
        <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
        <!-- Importing Personal Stylesheet -->
        <link rel="stylesheet" href="static/stylesheets/style1.css">
    </head>

    <body>
        
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h1>Internal Server Error</h1>
                <p>Something went wrong! Turn on the error handler and run it again.</p>
                <a href="/">Go back to safety</a>
            </div>
        </div>

    </body>

</html>
