body, html, .container {
    background-color: #0099cc;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

h1 {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    border-color: white;
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.leftCol {
    position: fixed;
    background-color: #0099cc;
    margin-top: 3%;
}

.rightCol {
  margin-top: 0%;
  margin-bottom: 0%;
}

#rightHead {
  margin-top: 4%;
}

.panel {
  background-color: #ccf2ff;
  border-color: lightgray;
  border-style: double;
  border-width: 3px;
}

.panel-header {
  border-bottom-color: lightgray;
  border-bottom-style: inset;
  border-bottom-width: 1px;
}

.img-thumbnail {
  background-color: lightgray;
}